# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Timber/.vs/Timber/v17/Browse.VC.db
/Timber/.vs/Timber/v17/Browse.VC.db-shm
/Timber/.vs/Timber/v17/Browse.VC.db-wal
/Timber/.vs/Timber/v17/Browse.VC.opendb
/Timber/.vs/Timber/FileContentIndex/29ba6e6c-18c4-4845-926f-1f582329a6a4.vsidx
/Timber/.vs/Timber/FileContentIndex/9f796cd2-42c9-46b1-9386-02aac922d2d4.vsidx
*.vsidx
/Timber/x64/Debug/Timber.exe.recipe
/Timber/x64/Debug/Timber.ilk
/Timber/x64/Debug/Timber.log
/Timber/x64/Debug/Timber.pdb
/Timber/x64/Debug/Timber.tlog
/Timber/x64/Debug/Timber.tlog/CL.command.1.tlog
/Timber/x64/Debug/Timber.tlog/Cl.items.tlog
/Timber/x64/Debug/Timber.tlog/CL.read.1.tlog
/Timber/x64/Debug/Timber.tlog/CL.write.1.tlog
/Timber/x64/Debug/Timber.tlog/link.command.1.tlog
/Timber/x64/Debug/Timber.tlog/link.read.1.tlog
/Timber/x64/Debug/Timber.tlog/link.write.1.tlog
/Timber/x64/Debug/Timber.tlog/Timber.lastbuildstate
/Timber/x64/Debug/Timber.vcxproj.FileListAbsolute.txt
/Timber/x64/Debug/vc143.idb
/Timber/x64/Debug/vc143.pdb
*.ipch
/Timber/.vs/Timber/v17/.suo
/.vs/Timber/v17/.suo
/.vs/Timber/v17/Browse.VC.db
/bin/Timber.ilk
/bin/Timber.pdb
/Timber/bin/Timber.pdb
/Timber/Debug/Timber.exe.recipe
/Timber/Debug/Timber.ilk
/Timber/Debug/Timber.log
/Timber/Debug/Timber.tlog/CL.command.1.tlog
/Timber/Debug/Timber.tlog/Cl.items.tlog
/Timber/Debug/Timber.tlog/CL.read.1.tlog
/Timber/Debug/Timber.tlog/CL.write.1.tlog
/Timber/Debug/Timber.tlog/link.command.1.tlog
/Timber/Debug/Timber.tlog/link.read.1.tlog
/Timber/Debug/Timber.tlog/link.write.1.tlog
/Timber/Debug/Timber.tlog/Timber.lastbuildstate
/Timber/Debug/Timber.vcxproj.FileListAbsolute.txt
/Timber/Debug/vc143.idb
/Timber/Debug/vc143.pdb
/Timber/Timber.vcxproj
/Timber/Timber.vcxproj.user
/Timber/Timber.vcxproj
/Timber/Timber.vcxproj.user
/Timber/Debug/Timber.pdb
/Timber/.vs/Timber/v17/Solution.VC.db
